%tr
  %th Student
  %th Status

- @cohort.students.each do |student|
  %tr
    %td
      = link_to student.full_name, assignment_submission_path(@assignment, student.submissions.find_by_user_id(student.id))
    %td
      - student.submissions.where(:assignment_id => @assignment.id).each do |submission|
        = submission.workflow_state.humanize
      - if student.submissions.where(:assignment_id => @assignment.id).count == 0
        = "Blank"