!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "Admin #{current_user.full_name} has changed your IronTracker role." 
    %p= "You are now a #{@user.role} user."
